@import compass/reset
@import "compass/css3/opacity"

body
  font-family: "adelle","Helvetica", sans-serif
  font-size: 14px
  line-height: 18px
  margin: 0px
  padding: 0px

img.cross
  position: fixed
  top: 60px
  left: 50%
  margin-left: -9px
  z-index: 20

header
  background-color: #00A3CC
  width: 100%
  height: 450px
  color: white
  text-align: center
  position: fixed
  z-index: 0

  h1
    font-size: 24px
    font-weight: medium
    margin-top: 138px
  h2
    font-size: 20px
    line-height: 32px
    margin: 60px auto
    width: 560px
    font-weight: 100
    a
      color: white
      font-style: italic
      text-decoration: none
      &:hover
        text-decoration: underline
        color: #F9F9F9
  ul
    li
      display: inline-block
      margin-right: 35px
      &:last-child
        margin-right: 0

#container
  width: 100%
  position: relative
  z-index: 10
  top: 450px
  background-color: #f9f9f9

  .posts
    margin: 0 auto
    width: 960px

    article
      padding-top: 100px
      color: #566070
      text-align: center
      font-weight: 100
      a
        color: #566070
        text-decoration: none
        &:hover
          @include opacity(0.9)
          text-decoration: underline

      .caption
        font-size: 18px
        padding: 20px 0 5px 0
        width: 560px
        margin: 0 auto
      &:last-child
        padding-bottom: 60px
      blockquote
        padding: 10px 0 10px 20px
        border-left: 8px solid #00A3CC
        font-style: italic
        width: 940px
        text-align: left
        p.quote
          font-family: "Meta Serif Pro", "Georgia", serif
          font-size: 24px
          line-height: 34px
          font-weight: 700
          padding-bottom: 20px

        span
          font-family: "Meta Serif Pro", "Georgia", serif
          font-size: 24px
          font-weight: 500

