@import compass/reset
@import "compass/css3/opacity"

/* media queries variables */
$break-small: 320px
$break-medium: 560px
$break-large: 1000px




body
  font-family: "adelle","Helvetica", sans-serif
  font-size: 14px
  line-height: 18px
  margin: 0px
  padding: 0px

img.cross
  position: fixed
  top: 60px
  left: 50%
  margin-left: -9px
  z-index: 20

p.top
  position: fixed
  top: 40px
  left: 50%
  visibility: hidden
  z-index: 20
  color: #00A3CC
  margin-left: -36px
  font-size: 14px
  font-weight: 100

header
  background-color: #00A3CC
  width: 100%
  height: 450px
  color: white
  text-align: center
  position: fixed
  z-index: 0

  .header-content
    width: 90%
    max-width: 560px
    margin: 0 auto
    h1
      font-size: 24px
      font-weight: medium
      margin-top: 138px
    h2
      font-size: 20px
      line-height: 32px
      margin: 60px auto
      width: 100%
      font-weight: 100
      @media screen and (max-width: $break-medium)
        margin: 45px auto
      a
        color: white
        font-style: italic
        text-decoration: none
        font-weight: 500
        &:hover
          text-decoration: underline
    ul
      li
        display: inline-block
        margin-right: 35px
        &:last-child
          margin-right: 0

#container
  width: 100%
  position: relative
  z-index: 10
  top: 450px
  background-color: #f9f9f9

  .posts
    margin: 0 auto
    width: 90%
    max-width: 960px

    article
      padding-top: 150px
      color: #566070
      text-align: center
      font-weight: 100
      @media screen and (max-width: $break-large)
        padding-top: 120px
      @media screen and (max-width: $break-small)
        padding-top: 100px
      &:first-child
        padding-top: 100px
        @media screen and (max-width: $break-large)
          padding-top: 80px
        @media screen and (max-width: $break-small)
          padding-top: 60px
      &:last-child
        padding-bottom: 150px

      .large-img
        width: 100%
        max-width: 940px

      .caption
        font-size: 18px
        line-height: 26px
        padding-top: 8px
        max-width: 560px
        margin: 0 auto
        a
          color: #00A3CC
          font-style: italic
          text-decoration: none
          &:hover
            text-decoration: underline

      .meta
        position: relative
        .tag
          font-weight: 500
          position: absolute
          left: 50%
          margin-left: 15px
          top: 10px
        time
          position: absolute
          text-align: right
          left: 50%
          top: 10px
          margin-left: -66px

      blockquote
        font-family: "ff-meta-serif-web-pro", "Georgia", serif
        margin-left: 10px
        padding: 10px 0 10px 20px
        border-left: 8px solid #31C3A6
        font-style: italic
        max-width: 940px
        width: 90%
        text-align: left
        @media screen and (max-width: $break-large)
          margin-left: 0
        p.quote
          font-size: 24px
          line-height: 34px
          font-weight: 700
          padding-bottom: 20px

        span
          font-size: 24px
          line-height: 34px
          font-weight: 500
        .source
          color: #989EA7
          font-size: 16px
          margin-left: 5px
          text-decoration: none
          &:hover
            text-decoration: underline
          &:before
            content: "("
          &:after
            content: ")"

.photo-post
  .tag
    color: #F0C330
  .photo-cross
    position: absolute
    top: 10px
    left: 50%
    margin-left: -9px
    @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2)
      background: url('https://raw.github.com/juliendonck/juliendonck.com/master/juliendonck/img/cross-yellow@2x.png') no-repeat
      background-size: 18px 18px
      height: 18px
      width: 18px
.quote-post
  .tag
    color: #31C3A6
  .quote-cross
    position: absolute
    top: 10px
    left: 50%
    margin-left: -9px
    @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2)
      background: url('https://raw.github.com/juliendonck/juliendonck.com/master/juliendonck/img/cross-green@2x.png') no-repeat
      background-size: 18px 18px
      height: 18px
      width: 18px
.work-post
  .tag
    color: #CE7C7D
  .work-cross
    position: absolute
    top: 10px
    left: 50%
    margin-left: -9px
    @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2)
      background: url('https://raw.github.com/juliendonck/juliendonck.com/master/juliendonck/img/cross-red@2x.png') no-repeat
      background-size: 18px 18px
      height: 18px
      width: 18px
